xml/empleados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="NOMBRE" type="xsd:string" />
    <xsd:element name="APELLIDO" type="xsd:string" />
    <xsd:element name="EDAD" type="xsd:integer"/>
    <xsd:element name="DEPARTAMENTO" type="xsd:string"/>
    <xsd:element name="CARGO" type="xsd:string"/>
    
    <xsd:element name="EMPLEADO">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NOMBRE"/>
                <xsd:element ref="APELLIDO"/>
                <xsd:element ref="EDAD"/>
                <xsd:element ref="DEPARTAMENTO"/>
                <xsd:element ref="CARGO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EMPLEADOS">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="EMPLEADO" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>